@model IEnumerable<Eventera.Models.AstronomicalEvent>

@{
    ViewData["Title"] = "Astronomical Events";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.AstronomicalEventId" class="nav-link">
                    @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Title)
            </td>
            <td>
                 @* @Html.DisplayFor(modelItem => item.StartDateTime) *@
                    @item.StartDateTime.ToString("MMMM dd, yyyy")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AstronomicalEventId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.AstronomicalEventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
