@model IEnumerable<Eventera.Models.AstronomicalEvent>

@{
    ViewData["Title"] = "Astronomical Events";
}

<p>
    <a asp-controller="AstronomicalEvents" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (!String.IsNullOrEmpty(item.Filename))
                    {
                        <img src="@item.Filename" alt="@item.Title" class="img-thumbnail" style="height:75px;" />
                    } else
                    {
                        <em>No Image</em>
                    }
                </td>
                <td>
                    <a asp-controller="AstronomicalEvents" asp-action="Details" asp-route-id="@item.AstronomicalEventId" class="nav-link">
                        @Html.DisplayFor(modelItem => item.Title)
                    </a>
                </td>
                <td>
                    @if (!String.IsNullOrEmpty(item.Category?.Title))
                    {
                        @Html.DisplayFor(modelItem => item.Category.Title)
                    } else {
                        <em>No Category</em>
                    }
                </td>
                <td>
                    @* @Html.DisplayFor(modelItem => item.StartDateTime) *@
                    @item.StartDateTime.ToString("MMMM dd, yyyy")
                </td>
                <td>
                    <a asp-controller="AstronomicalEvents" asp-action="Edit" asp-route-id="@item.AstronomicalEventId">Edit</a> |
                    <a asp-controller="AstronomicalEvents" asp-action="Delete" asp-route-id="@item.AstronomicalEventId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
